
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487595585772'); /* IE9*/
  src: url('iconfont.eot?t=1487595585772#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487595585772') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487595585772') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487595585772#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ttpodicon:before { content: "\e6a6"; }

.icon-shanchu:before { content: "\e620"; }

.icon-zuojiantou:before { content: "\e63f"; }

.icon-xiao21:before { content: "\e87b"; }

.icon-play-o:before { content: "\e608"; }

.icon-heart:before { content: "\e649"; }

.icon-iconxiaoxi1:before { content: "\e62d"; }

.icon-xiazai:before { content: "\e890"; }

.icon-mv:before { content: "\e8a5"; }

.icon-huatong:before { content: "\e61c"; }

.icon-xinxi:before { content: "\e60b"; }

.icon-huatong1:before { content: "\e6b0"; }

.icon-xiaoxi:before { content: "\e629"; }

.icon-zhongbo:before { content: "\e70c"; }

.icon-sousuo-sousuo:before { content: "\e501"; }

